.productPage-footer{
    bottom: 0;
    /* margin-top: 3%; */
    height: auto;
    width: 100%;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    align-items: center;
    text-align: center;


}