.productDetails-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    width: 25em;
    margin-left: 0%;
    margin-right: 0%;
  
    margin-top: 2%;
  
    /* testing */
    /* background-color: red; */
  }
  
  .picture{
    display: flex;
    align-items: center;
  }

