.review-header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;

    /* testing */
    /* background-color: green; */

}


.review-rating{
    margin-left: 6%;
}