.home-background {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-around;
}

.catalogue-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adv-swipe-box {
  margin: 5%;
}
